.bg-pink{
  color: rgb(255, 232, 236);
}
.bg-green{
  color: rgb(167, 255, 167);
}
.bg-danger{
  color: rgb(247, 223, 223);
}
.bg-light{
  color: rgb(212, 212, 212),
}
.bg-success{
  color: rgb(103, 163, 103);
}
.bg-danger{
  color: rgb(255, 230, 230);
}


