.btn-gradient-red{
    background: linear-gradient(to top, #B61010, #EC0C0D 100%) no-repeat;
} 
.btn-light{
    color: rgb(230, 224, 224);
}
.btn-outline-green{
    color: rgb(0, 255, 0);
}
.btn-secondary{
    color: #dad6d6ad;
}
.btn-buttons{
    color: #dad5d5ad;
}
.border-buttons{
    color: #f0ececad;
}
