::placeholder {
    color: black;
}

input::placeholder{
    padding: 0.5rem;   
}


p {
    line-height: 35px;
}

h1 {
    line-height: 55px;
}

h2 {
    line-height: 50px;
}
h5 {
    font-family: 'roboto';
    font-weight: 800;
}