@include media-breakpoint-down(xs) {    
    
    .font-size-40 {
        line-height: 50px !important;
    }

}



@include media-breakpoint-up(sm) {
    

    ul.navbar-nav li {    
        
        .nav-link {
            padding-right: 1rem !important;
            padding-left: 1rem !important;      
        } 

        &:last-child{

            .nav-link {
                padding-right: 0rem !important;    
            } 
        }
    }


}


