$theme-colors: (
  "danger": #ff0000,
  "secondary": #F0EBF5,
  "purple": #760CF5,
  "pink": #F5DCDC,  
  "light": rgb(209, 204, 204),
);


$border-radius-lg: 10rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1640px,
); 

$spacer: 1rem !default;

$spacers: (
  1: ($spacer * .25),
  2: ($spacer * .5),
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 6),
  8: ($spacer * 7),
);
