$theme-colors: (
  "danger": red,
  "secondary": #fcf9ff,
  "purple": #760CF5,
  "pink": #fcf3f3,
  "light": rgb(212, 212, 212),
  "muted": rgb(255, 241, 241),
  "dark": black,
  "grey": #f0dddd,
  "success": rgb(249, 252, 249),
  "green": green,
  "info": #FFFAFA,
  "primary": rgb(0, 255, 0)
);


$border-radius-lg: 10rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1640px,
); 

$spacer: 1rem !default;

$spacers: (
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * .8),
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 6),
  8: ($spacer * 2.2),
  9: ($spacer * 1.2),
  10: ($spacer * 8.5),
  11: ($spacer* 7.5),
  12: ($spacer* 8),
  13: ($spacer * 18),
  14: ($spacer * 2),
  15: ($spacer * 4),
  16: ($spacer * 12),
  17: ($spacer* 4),
);
