@import '_variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss'; 
@import 'helpers/_fonts.scss';
@import 'helpers/_fontsizes.scss';
@import 'helpers/_rounded.scss';
@import 'helpers/_buttons.scss';
@import 'helpers/_gradients.scss';
@import '_overwrites.scss';
@import 'helpers/_backgrounds.scss';
@import 'helpers/_text-colors';
@import 'helpers/_btns.scss';



body {
      font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::placeholder {
    color: black;
}

p {
    line-height: 35px;
}

h1 {
    line-height: 55px;
}

h2 {
    line-height: 50px;
}

.font-size-40 {
    line-height: 70px;
}

.font-size-30{
    line-height: 70px;
}

